.body {
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow-y: overlay;
  flex: 0.8;
  color: white;
  background: linear-gradient(transparent, rgb(114, 42, 136));
  background-color: rgb(91, 87, 115);
}
.selected1 {
  background-color: black;
}
.body::-webkit-scrollbar {
  display: none;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__background {
  position: absolute;
  top: 13vh;
  right: 0;
  opacity: 0.4;
  height: 80%;
  width: 80%;
  background-color: black;
}

.body__songs {
  z-index: 1;
  margin: 20px -30px;
}

.body__info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
  flex: 1;
}

.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 14px;
}
